In [8]:
# libraries
import os
from dotenv import load_dotenv
import psycopg2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import numpy as np

In [15]:
# connect to database and get data
from utils import connect_to_db

conn = connect_to_db()
cursor = conn.cursor()

ticker = 'GOOGL'
googl_data = pd.read_sql_query('''
                               SELECT * FROM public.stocks WHERE ticker = 'GOOGL' ORDER BY date ASC;
                               ''', conn)
googl_data = googl_data.drop(columns=['ticker'])
# price_data = price_data.set_index('date')
googl_data = pd.DataFrame(googl_data)
googl_data

/var/folders/6v/kx15yglj19173xqgq1g6f46r0000gn/T/ipykernel_15907/1286645786.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  price_data = pd.read_sql_query('''

,id,open_price,close_price,high_price,low_price,volume
date,,,,,,
2004-08-19 00:00:00-07:00,39733,2.50,2.50,2.60,2.40,893181924
2004-08-20 00:00:00-07:00,39734,2.52,2.70,2.72,2.51,456686856
2004-08-23 00:00:00-07:00,39735,2.76,2.73,2.83,2.72,365122512
2004-08-24 00:00:00-07:00,39736,2.78,2.62,2.79,2.59,304946748
2004-08-25 00:00:00-07:00,39737,2.62,2.65,2.70,2.59,183772044
...,...,...,...,...,...,...
2024-09-30 00:00:00-07:00,536130,163.32,165.85,166.15,163.26,20413900
2024-10-01 00:00:00-07:00,830989,167.69,166.99,169.16,164.58,28338100
2024-10-02 00:00:00-07:00,978442,166.42,165.86,167.52,164.73,17760200
2024-10-03 00:00:00-07:00,1027605,164.41,165.86,166.64,163.92,15073100
2024-10-04 00:00:00-07:00,1224271,168.06,167.06,168.22,165.48,18663514

In [ ]:
# load the stock data from the database

selected_stock = 'XEQT.TO'
stock_data = pd.read_sql(
    f"SELECT * FROM public.stocks WHERE ticker = '{selected_stock}'",
    conn)

stock_data['date'] = pd.to_datetime(stock_data['date'])

stock_data

# plot scatter plot of close price vs date
plt.scatter(stock_data['date'], stock_data['close_price'])

cursor.close()